<template name="home-page">
  {{> navbar }}
  <div class="container">
    {{> leaderboard }}
  </div>
  <div class="container">
    <h1>Open Bounties</h1>
    <h2>Protocol security</h2>
    <ul>
      <li>Conceptual security issues in the formal specification of the Ethereum protocol.</li>
      <li>Misaligned / unintended incentives. Flaws in game theory.</li>
      <li>Security weaknesses / attacks on the PoW algorithm.</li>
    </ul>
    <h2>Client protocol implementation security</h2>
    Whether the Go client implementation conforms to the formal protocol specification:
    <ul>
      <li>Validations of blocks, transactions and messages.</li>
      <li>Ethereum Virtual Machine code execution.</li>
      <li>Transaction execution.</li>
      <li>Contract creation.</li>
      <li>Message calls.</li>
      <li>Calculation and enforcement of gas and fees.</li>
    </ul>
    Bitcoin "zero-day" example requiring a hard-fork: <a href="https://en.bitcoin.it/wiki/CVE-2010-5139">https://en.bitcoin.it/wiki/CVE-2010-5139</a>
    <h2>Network security</h2>
    Generalized attacks on the whole network or a subset of it:
    <ul>
      <li>51% and other X% attacks.</li>
      <li>Finney attacks.</li>
      <li>Sybil attacks.</li>
      <li>Replay attacks.</li>
      <li>Transaction / messages malleability.</li>
      <li>(global) DoS.</li>
    </ul>
    Global DoS example: <a href="https://en.bitcoin.it/wiki/CVE-2012-4684">https://en.bitcoin.it/wiki/CVE-2012-4684</a>
    <h2>Node security</h2>
    Attacks on a single Go client relating to the Ethereum protocol:
    <ul>
      <li>DoS / resource abuse.</li>
      <li>Account / wallet address gathering/probing.</li>
      <li>Broadcast / withhold attacks.</li>
    </ul>
    DoS example: <a href="https://bitcointalk.org/index.php?topic=287351">https://bitcointalk.org/index.php?topic=287351</a>
    <br>
    DoS / Resource abuse example: <a href="https://en.bitcoin.it/wiki/CVE-2013-2293">https://en.bitcoin.it/wiki/CVE-2013-2293</a>
    <h2>Client application security</h2>
    Attacks on a single Go client exposing general Go application or library vulnerabilities:
    <ul>
      <li>Memory vulnerability (invalid memory address, nil pointers, memory not properly released).</li>
      <li>Data type (e.g. integer) overflows / wrap arounds.</li>
      <li>Panics or not properly handled errors.</li>
      <li>Concurrency: synchronization, state, races.</li>
      <li>Issues related to external libraries used.</li>
    </ul>
    External library example: <a href="http://bitcoinmagazine.com/3668/bitcoin-network-shaken-by-blockchain-fork/">http://bitcoinmagazine.com/3668/bitcoin-network-shaken-by-blockchain-fork/</a>
    <h2>Cryptographic primitives security</h2>
    Incorrect implementation / usage / configuration of:
    <ul>
      <li>Elliptic curve (secp256k1, ECDSA).</li>
      <li>Hash algorithms (Keccak-256).</li>
      <li>Merkle Patricia Trees.</li>
    </ul>
    EC key generation example: <a href="http://www.reddit.com/r/Bitcoin/comments/2onm5r/blockchaininfo_security_disclosure/">http://www.reddit.com/r/Bitcoin/comments/2onm5r/blockchaininfo_security_disclosure/</a>
    <br>
    (<a href="https://github.com/blockchain/My-Wallet/commit/98d5a7ca59ef04d06ac6aee468634b12975a0f5c">https://github.com/blockchain/My-Wallet/commit/98d5a7ca59ef04d06ac6aee468634b12975a0f5c</a>)
  </div>
  <div class="container">
    <h1>Rules & Rewards</h1>
     <ul>
       <li>First come, first served. Things that have already been submitted by another user or is already known to the Ethereum team are not eligible for bounty rewards.</li>
       <li>A submission is accepted if it leads to code or config change in the Ethereum Go client or in the smart contract higher level languages (e.g. bug in their compilers).</li>
       <li>Ethereum websites are NOT part to the bounty program.</li>
       <li>Submissions must include a well-written description of the vulnerability and detail steps for how to reproduce it.</li>
       <li>Respect the Ethereum testnet; do not perfom major attacks (e.g. DoS) on the testnet that could cause problems for other people using it.</li>
     </ul>
       Ethereum has allocated $X for the bounty program rewards. Each bounty is between $Y to $Z worth of BTC. Even higher rewards are possible for sufficient severe vulnerabilities. Aside from BTC, every bounty is also eligible for:
     <br>
     <br>
     <ul>
       <li>Points that accumulate towards a place on our leaderboard.</li>
       <li>Personal inscription in the Ethereum genesis block.</li>
       <li>An exclusive, limited edition Ethereum Bountyhunter t-shirt (TODO: insert nice picture of such a t-shirt!)</li>
     </ul>
     Bounties are awarded at the discretion of the Ethereum dev team. They depend on several variables:
     <br>
     <br>
      <ul>
       <li>Quality of description. Higher rewards are paid for clear, well-written submissions.</li>
       <li>Quality of reproducibility. Test code / scripts / instructions. The easier it is for us to verify, the higher the reward. For network attacks, this could also be a simulation.</li>
       <li>Impact. Example of a "zero-day" vuln would be ability to arbitrarily steal ether, or anything that would require an emergency hard-fork of the blockchain. Example of low-impact could be finding particular contract code that runs slowly due to triggering unoptimized VM code but does not significantly impact functionality / availability of the node & network.</li>
       <li>Quality of fix, if included. Higher rewards are paid for submissions with clear description of how to fix the issue. Bonus points for github pull request!</li>
     </ul>
      <h1>FAQ</h1>
      <h3>How are bounties paid out?</h3>
      Rewards are paid out in bitcoin by the 28th of February. Simply send us your bitcoin address. We lock in the bitcoinaverage.com USD/BTC rate at the time when we verify a submission.
      <h3>Can I donate my reward to charity?</h3>
      Yes. We can donate your reward to an organization of your choice. For U.S based bonty hunters, this would be an established 501(c)(3) charitable organization. (TODO: list some established organizations? What about non-US countries?)
      <h3>I reported an issue / vulnerability but have not received a response!</h3>
      We aim to respond to submissions as fast as possible. Feel free to ping us if you have not received a response within a day or two.
      <h3>I want to be anonymous / I do not want my name/nick in the Ethereum genesis block or on the leader board.</h3>
      Submitting anonymously or with a pseudonym is OK, but will not be eligible for BTC rewards. To be eligible for BTC rewards, we need your real name.
      <br>
      <br>
      Please let us know if you do not want a submission counted towards the leader board and/or if you do not want to be mentioned in the genesis block for your contribution.
      <h3>What's your PGP key for encrypted submissions?</h3>
      If you want to send us an encrypted submission, please use our key here (TODO: link) and mail it to bounties atsign ethdev dot com
      <h3>What are points?</h3>
      Every found vulnerability / issue is assigned a point value. Bounty hunters are ranked on our leaderboard by total points. While points are based on the same metrics as rewards, they are not necessarily directly related and may differ. This allows for some flexibility, for example, rewards denoted in USD may change over time due to inflation, but points would not. Also, it allows submitters who do not want a reward to still get points for their leaderboard ranking.
  </div>
  <div class="container">
    {{> bounties }}
  </div>
  {{> signupModal }}
</template>
