<template name="faq">
  <section class="row">
    <h1>FAQ</h1>
    <h3>How are bounties paid out?</h3>
    Rewards are paid out in bitcoin by the 28th of February. Simply send us your bitcoin address. We lock in the bitcoinaverage.com USD/BTC rate at the time when we verify a submission.
    <h3>Can I donate my reward to charity?</h3>
    Yes. We can donate your reward to an organization of your choice. For U.S based bonty hunters, this would be an established 501(c)(3) charitable organization. (TODO: list some established organizations? What about non-US countries?)
    <h3>I reported an issue / vulnerability but have not received a response!</h3>
    We aim to respond to submissions as fast as possible. Feel free to ping us if you have not received a response within a day or two.
    <h3>I want to be anonymous / I do not want my name/nick in the Ethereum genesis block or on the leader board.</h3>
    Submitting anonymously or with a pseudonym is OK, but will not be eligible for BTC rewards. To be eligible for BTC rewards, we need your real name.
    <br>
    <br>
    Please let us know if you do not want a submission counted towards the leader board and/or if you do not want to be mentioned in the genesis block for your contribution.
    <h3>What's your PGP key for encrypted submissions?</h3>
    If you want to send us an encrypted submission, please use our key here (TODO: link) and mail it to bounties atsign ethdev dot com
    <h3>What are points?</h3>
    Every found vulnerability / issue is assigned a point value. Bounty hunters are ranked on our leaderboard by total points. While points are based on the same metrics as rewards, they are not necessarily directly related and may differ. This allows for some flexibility, for example, rewards denoted in USD may change over time due to inflation, but points would not. Also, it allows submitters who do not want a reward to still get points for their leaderboard ranking.
  </section>
</template>
