<template name="leaderboard">
  <section id="leaderboard" class="highlight">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Leaderboard</h1>
          
          {{#if leaders}}

            <table class="table table-striped">
              {{#each leaders}}
                <tr>
                  <td class="center-aligned position">
                    {{i}}.
                  </td>
                  <td class="center-aligned avatar">
                    {{#linkTo route="userProfile" data=leader}}
                      <img src="{{avatarUrlFor leader}}" class="avatar"/>
                    {{/linkTo}}
                  </td>
                  <td class="left-aligned profile expand">
                    <div class="username">
                      <div class="primary">
                        {{#linkTo route="userProfile" data=leader}}
                          <span>{{primaryName leader}}</span>
                        {{/linkTo}}
                      </div>
                      <div class="secondary">
                        <a class="plain" href="{{leader.profile.githubUrl}}">{{secondaryName leader}}</a>
                        <div class="points">
                          {{leader.points}}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="badges">
                    {{#each leader.badges }}
                      {{> badgeImage badge }}
                    {{/each}}
                  </td>
                </tr>
              {{/each}}
            </table>

          {{else}}
            <p>
              There currently are no bounty hunters
            </p>
          {{/if}}
        </div>
      </div>
    </div>
  </section>
</template>
