<template name="navbar">
  <nav id="navbar" class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-lg-4 clearfix">
            <div class="navbar-header">
              {{#linkTo route="home" query="huy" class="navbar-brand text-center"}}
                <img src="/images/navbar-logo.svg" class="img-responsive"/>
              {{/linkTo}}
            </div>
          </div>
          <div class="col-md-7 col-lg-8 clearfix">
            <ul class="nav navbar-nav">
              <li><a href="#leaderboard">Leaderboard</a></li>
              <li><a href="#bounties">Bounties</a></li>
              <li><a href="#rules">Rules</a></li>
              <li><a href="#faq">FAQ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {{#if currentUser}}
                <li>
                  <a signout-btn>
                    Sign out
                  </a>
                </li>
                {{#if isAdmin}}
                  <li>
                    <a href="/admin">Admin</a>
                  </li>
                {{/if}}
              {{else}}
                <li>
                  <a data-toggle="modal" data-target="#signup-modal">
                    Sign up
                  </a>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                  <div class="dropdown-menu panel panel-default">
                    <div class="panel-body">
                      <form method="post" accept-charset="UTF-8" signin-form>
                        <div class="form-group">
                          <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="nav-signin-username" name="username" class="form-control">
                          <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="nav-signin-password" name="password" class="form-control">
                        </div>
                        <input type="submit" value="Sign in" class="btn btn-default btn-block" signin-btn/>
                      </form>
                      <div class="text-center">
                        <strong>Or</strong>
                      </div>
                      {{> githubSigninBtn}}
                    </div>
                  </div>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
