<template name="profileVulnerabilities">
  <section id="profile-vulnerabilities" class="highlight">
  	<div class="container">
      <div class="row">
        <div class="col-md-9 vulnerabilities">
          <h1>Vulnerabilities Discovered {{_id}}</h1>
          {{#each uservulns userid}}
          <div class="vulnerability">
        	<a href="#">{{ethId}} - {{title}}</a>
        	<div class="eth-badge">
              {{#each badges }}
              {{> badgeImage badge }}
              {{/each}}
        	</div>
        	<div class="points">{{score}} pts</div>
        	<div class="date-reported"><b>Reported: </b>{{createdAt}}</div>
        	<div class="description"><p>{{description}}</p></div>
          </div>
        {{/each}}
        </div>
      </div>
    </div>
  </section>
</template>
