<template name="rulesAndRewards">
  <section id="rules">
    <div class="container">
      <div class="row">
        <h1>Rules & Rewards</h1>
        Please have a look at the fine print below before starting your hunt!
        <ul>
          <li>First come, first serve. Issues that have already been submitted by another user or is already known to the Ethereum team are not eligible for bounty rewards.</li>
          <li>A submission is accepted if it leads to code or config change in the Ethereum Go client. NOTE: Among the clients, only the Go client is in scope. Vulnerabilities discovered for example in the C++ client won't be eligible for rewards at the moment.</li>
          <li> Submissions must include a well-written description of the vulnerability and detailed steps for how to reproduce it.</li>
          <li> You can start a private chain or use our testnet for bug hunting. However, please respect the Ethereum testnet; do not perform major attacks (e.g. DoS) on the testnet that could cause problems for other people using it.</li>
          <li> Ethereum's core development team, employees and all other people paid by the Ethereum project, directly or indirectly, are not eligible for rewards.</li>
          <li> Ethereum websites are NOT part of the bounty program.</li>
        </ul>
        <p> Values of rewards paid out will vary depending on the severity of impact. Rewards for minor 'harmless' bugs start at BTC 0.05 – major bugs, for example leading to consensus issues, will be rewarded up to 5 BTC. Much higher rewards are possible (up to 25 BTC) in case of very severe vulnerabilities. Beyond monetary rewards, every bounty is also eligible for:</p>
        <ul>
          <li>Listing on our leaderboard with points accumulating over the course of the program.</li>
          <li>Personal inscription in the Ethereum genesis block.</li>
          <li>An exclusive, limited edition Ethereum Bountyhunter t-shirt (picture coming soon!)</li>
        </ul>
        <p>Bounties are awarded at the discretion of the Ethereum dev team. They depend on several variables:</p>
        <ul>
          <li>Quality of description. Higher rewards are paid for clear, well-written submissions.</li>
          <li>Quality of reproducibility. Test code / scripts / instructions. The easier it is for us to verify, the higher the reward. For network attacks, this could also be a simulation.</li>
          <li>Impact. Example of a "zero-day" vulnerability would be ability to arbitrarily steal Ether, or anything that would require an emergency hard-fork of the blockchain. Example of low-impact could be finding particular contract code that runs slowly due to triggering unoptimized VM code but does not significantly impact functionality / availability of the node & network.</li>
          <li>Quality of fix, if included. Higher rewards are paid for submissions with clear description of how to fix the issue. Bonus points for github pull request!</li>
        </ul>
      </div>
    </div>
  </section>
</template>
