<template name="rulesAndRewards">
  <section id="rules">
    <div class="container">
      <div class="row">
        <h1>Rules & Rewards</h1>
        <ul>
          <li>First come, first serve. Things that have already been submitted by another user or is already known to the Ethereum team are not eligible for bounty rewards.</li>
          <li>A submission is accepted if it leads to code or config change in the Ethereum Go client. NOTE: Among the clients, only the Go client is in scope. I.e., found vulnerabilities in the C++ client are not eligible for rewards at the moment.</li>
          <li>Ethereum websites are NOT part of the bounty program.</li>
          <li>Submissions must include a well-written description of the vulnerability and detail steps for how to reproduce it.</li>
          <li>Respect the Ethereum testnet; do not perfom major attacks (e.g. DoS) on the testnet that could cause problems for other people using it.</li>
          <li>Persons paid by the ethereum project, directly or indirectly, are not eligible for rewards.</li>
        </ul>
        <p>Ethereum has allocated $X for the bounty program rewards. Each bounty is between $Y to $Z worth of BTC. Even higher rewards are possible for sufficiently severe vulnerabilities. Aside from BTC, every bounty is also eligible for:</p>
        <ul>
          <li>Points that accumulate towards a place on our leaderboard.</li>
          <li>Personal inscription in the Ethereum genesis block.</li>
          <li>An exclusive, limited edition Ethereum Bountyhunter t-shirt (picture coming soon!)</li>
        </ul>
        <p>Bounties are awarded at the discretion of the Ethereum dev team. They depend on several variables:</p>
        <ul>
          <li>Quality of description. Higher rewards are paid for clear, well-written submissions.</li>
          <li>Quality of reproducibility. Test code / scripts / instructions. The easier it is for us to verify, the higher the reward. For network attacks, this could also be a simulation.</li>
          <li>Impact. Example of a "zero-day" vulnerability would be ability to arbitrarily steal ether, or anything that would require an emergency hard-fork of the blockchain. Example of low-impact could be finding particular contract code that runs slowly due to triggering unoptimized VM code but does not significantly impact functionality / availability of the node & network.</li>
          <li>Quality of fix, if included. Higher rewards are paid for submissions with clear description of how to fix the issue. Bonus points for github pull request!</li>
        </ul>
      </div>
    </div>
  </section>
</template>
