<template name="sourcesAndCode">
  <section id="sourcesAndCode">
    <div class="container">
      <div class="row">
        <h1>References</h1>
        <p>
Note that parts of the code base are still undergoing changes and hence respective packages exempt for the moment: We expect the 
<ul>
<li> final implementation of the PoW to be ready late January, and </li>
<li> final implementation of the networking and p2p protocol early February.</li>
</ul>
We will announce respective packages as soon as they become available.    
Please see the following links for the tagged version of Go ethereum eligible for bounties, our protocols and more info about the threat model / security considerations:
        </p>
        <ul>
          <li><a href="https://github.com/ethereum/go-ethereum/releases/tag/v0.7.10"><b>Go client tag TBD</b></a></li>
          <li><a href="https://github.com/ethereum/wiki/wiki/Security-Categorization"><b>Security Categorization</b></a></li>
          <li><a href="https://github.com/ethereum/wiki/wiki/White-Paper"><b>White Paper</b></a></li>
          <li><a href="http://gavwood.com/Paper.pdf"><b>Yellow Paper</b></a></li>
        </ul>
      </div>
    </div>
  </section>
</template>
